body{
	font-size: 16px;
}

.navbar{
	display: flex;
	flex-wrap: wrap;
	height: 10vh;
	margin: 3vh; 
	background-color: darkgray;
	border-radius: 2vh;
	color: white;
	text-shadow: 4px 4px 7px black;
	box-shadow: 5px 5px 14px black;
}

a {
	color: white;
	text-decoration: none;
}

.nav-head{
	font-size: 1.5rem;
	padding-left: 4vh;
	font-family: sans-serif;
}

.nav-item{
	padding-top: 2vh;
	padding-left: 3vh;
	font-family: sans-serif;
}

.nav-search{
	padding-top: 3.2vh;
	padding-left: 1.2vh;
	position: relative;
	left: 85vh;
}

.no-hover{
	box-shadow: none;
}

.hover{
	box-shadow: 4px 4px 11px black;
	background-color: #88e2ff;
}

.nav-search #search-string{
	height: 3vh;
}

#search-some{
	border: none;
	padding: 1vh;
	margin-left: 1vh;
	border-radius: 5px;
	cursor: pointer;
}

ul{
    width: 60%;
    margin: 0 auto;
    padding: 0;
    display: none;
}

li{
    list-style: none;
    display: inline-block;
    padding: 20px;
    background-color: darkgray;
    border-radius: 2vh;
}

ul li a{
    color: white;
text-decoration: none;
}

.toggle{
	width: 80%;
    padding: 15px 20px;
    text-align: right;
    box-sizing: border-box;
    color: #ffff;
    font-size: 30px;
    display: none;
}


@media only screen and (max-width: 1025px){
	.nav-search{
		left: 15vh;
	}
}

@media only screen and (max-width: 820px){
	.nav-search{
		display: none;
	}

	.nav-item{
		display: none;		
	}
	
	.hidden-button{
		display: flex;
		flex-direction: row-reverse;
		width: 55%;
	}

	#nav-list{
		margin-top: 4vh;
		display: block;
		width: 30px;
		height: 30px;
	}

	.toggle{
        display:block;
    }


    ul {
        width: 100%;
        display: none;
    }

    ul li {
        display: block;
        text-align: center;
    }

    .active{
        display: block;
    }
}

@media only screen and (max-width: 670px){
	.toggle{
		width: 58%;
	}
}